// Variables
@import 'variables';
@import 'mixs';

html,body {
    @keyframes loading {
        from {
            stroke-dasharray: 3000;
        }
        to {
            stroke-dasharray: 200;
        }
    }
    .m_Container {
        position: fixed;
        @include fsize;
        left: 0;
        top: 0;
        z-index: 1;
        overflow: hidden;
        .m_box {
            position: relative;
            @include fsize;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex-flow: row nowrap;
            justify-content: space-between;
            .left-panel {
                @include fsize;
                max-width: 75px;
                flex: 1;
                flex-basis: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include easings(300ms);
                position: relative;
                overflow: hidden;
                .preferences-left-panel {
                    @include csize(100%,75px);
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-size: 27px;
                        position: relative;
                    }
                    a {
                        text-decoration: none;
                        display: block;
                        margin: auto;
                        span {
                            font-size: 27px;
                            position: relative;
                        }
                    }
                }
                .middle-controls-box {
                    position: relative;
                    @include fsize;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .left-panel-innerbox {
                        @include fsize;
                        @include cmax-size(100%,75px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        .icon-holder {
                            margin: auto;
                            position: relative;
                            @include csize(25px,25px);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span {
                                color: $black;
                                font-size: 27px;
                                position: relative;
                            }
                            a {
                                text-decoration: none;
                                display: block;
                                margin: auto;
                                span {
                                    font-size: 27px;
                                    position: relative;
                                }
                            }
                            .counters-holder {
                                position: absolute;
                                @include csize(auto,auto);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 2px;
                                justify-content: center;
                                align-items: center;
                                font-size: 10px;
                                letter-spacing: 0.5px;
                                top: -3px;
                                right: 0px;
                                border-radius: 720px;
                                @extend %Spline-Sans;
                            }
                            .counters-holder_active {
                                background-color: $red;
                                color: $body-bg;
                                @include csize(16px,16px);
                            }
                        }
                    }
                }
                .bottom-controls-box {
                    position: relative;
                    @include fsize;
                    @include cmax-size(100%,150px);
                    .left-panel-innerbox {
                        @include fsize;
                        @include cmax-size(100%,75px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        .icon-holder {
                            margin: auto;
                            position: relative;
                            @include csize(25px,25px);
                            span {
                                color: $black;
                                font-size: 27px;
                                position: relative;
                            }
                            a {
                                text-decoration: none;
                                display: block;
                                margin: auto;
                                span {
                                    font-size: 27px;
                                    position: relative;
                                }
                            }
                        }
                        form {
                            @include fsize;
                            position: relative;
                            button {
                                border: none;
                                background-color: transparent;
                                position: relative;
                                @include fsize;
                                border-radius: 0;
                                cursor: pointer;
                                padding: 0;
                                margin:0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span {
                                    color: $black;
                                    font-size: 27px;
                                    position: relative;
                                }
                            }
                            .loader {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                @include csize(28px,28px);
                                margin: auto;
                                padding: 0;
                                border-radius: 720px;
                                @include rotate(0deg);
                                svg {
                                    margin: auto;
                                    @include fsize;
                                    position: relative;
                                    @include rotate(270deg);
                                    circle {
                                        fill: none;
                                        stroke: $blue;
                                        stroke-width: 60px;
                                        stroke-dasharray: 200;
                                        stroke-dashoffset: 3000;
                                        @include animation (loading,2s,0ms,infinite,ease-in-out,alternate);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .messages-panel {
                @include fsize;
                flex: 1;
                flex-basis: 1;
                display: flex;
                flex-direction: row;
                flex-flow: row nowrap;
                flex-wrap: nowrap;
                justify-content: space-between;
                overflow: hidden;
                @include easings(300ms);
                .left-panel-viewer {
                    position: relative;
                    padding: 0;
                    @include cmax-size(250px,auto);
                    overflow: hidden;
                }
                .middle-messages-viewer {
                    position: relative;
                    @include fsize;
                    padding: 0;
                    overflow: hidden;
                    .usedRecoverCode {
                        font-size: 17px;
                        font-weight: 500;
                        color: $orange;
                        padding: 12px;
                        text-align: center;
                        margin: auto;
                        @extend %Spline-Sans;
                        a {
                            text-decoration: none;
                            font-weight: 700;
                            color: $red;
                        }
                    }
                }
                .right-panel-viewer {
                    position: relative;
                    @include fsize;
                    @include cmax-size(300px,auto);
                    padding: 0;
                    overflow: hidden;
                }
                .leftActive_panels {
                    @include fsize;
                    @include cmin-size(320px,auto);
                    opacity: 1;
                }
                .leftInactive_panels {
                    @include csize(0,auto);
                    opacity: 0;
                }
                .rightActive_panels {
                    @include fsize;
                    @include cmin-size(200px,auto);
                    opacity: 1;
                }
                .rightInactive_panels {
                    @include csize(0,auto);
                    opacity: 0;
                }
            }
            .right-panel {
                @include fsize;
                max-width: 75px;
                flex: 1;
                flex-basis: 1;
                padding: 8px;
                overflow: hidden;
                @include easings(300ms);
                .panel-innerbox {
                    position: relative;
                    @include fsize;
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    overflow: hidden;
                    border: none;
                    .profile-pic {
                        background-color: $blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include csize(58px,58px);
                        border-radius: 720px;
                        padding: 2px;
                        cursor: pointer;
                        overflow: hidden;
                        img {
                            position: relative;
                            @include fsize;
                            border-radius: 720px;
                            object-fit: cover;
                            border: none;
                        }
                    }
                    .horizontal-line {
                        position: relative;
                        margin: 12px 0 12px 0;
                        @include csize(100%,0.5px);
                        border-radius: 720px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}