@import url(https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&family=Spline+Sans:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap);
html .container .container-box .login-container .login-box .login-form-container form .errors, body .container .container-box .login-container .login-box .login-form-container form .errors, html .container .container-box .login-container .login-box .login-form-container form a, body .container .container-box .login-container .login-box .login-form-container form a, html .container .container-box .login-container .login-box .login-form-container form button, body .container .container-box .login-container .login-box .login-form-container form button, html .container .container-box .login-container .login-box .login-form-container form .rememberme-box, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box, html .container .container-box .login-container .login-box .login-form-container form .username-box input, html .container .container-box .login-container .login-box .login-form-container form .password-box input, body .container .container-box .login-container .login-box .login-form-container form .username-box input, body .container .container-box .login-container .login-box .login-form-container form .password-box input {
  font-family: "Spline Sans", sans-serif;
}

html .container .container-box .login-container .login-box .login-form-container form .form-title, body .container .container-box .login-container .login-box .login-form-container form .form-title {
  font-family: "Signika", sans-serif;
}

/* Clouds */
html .container .container-box .login-container, body .container .container-box .login-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 36px 0 0 0;
}
html .container .container-box .login-container .login-box, body .container .container-box .login-container .login-box {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 720px;
}
html .container .container-box .login-container .login-box .login-form-container, body .container .container-box .login-container .login-box .login-form-container {
  position: relative;
  width: 50%;
  height: 100%;
  min-width: 300px;
  min-height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  flex-basis: 45%;
}
html .container .container-box .login-container .login-box .login-form-container form, body .container .container-box .login-container .login-box .login-form-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  margin: auto;
}
html .container .container-box .login-container .login-box .login-form-container form .form-title, body .container .container-box .login-container .login-box .login-form-container form .form-title {
  color: #4563F7;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 28px;
  padding: 16px;
  text-align: center;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -o-text-transform: uppercase;
  -ms-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: transparent;
  tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box, html .container .container-box .login-container .login-box .login-form-container form .password-box, body .container .container-box .login-container .login-box .login-form-container form .username-box, body .container .container-box .login-container .login-box .login-form-container form .password-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: auto;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box input, html .container .container-box .login-container .login-box .login-form-container form .password-box input, body .container .container-box .login-container .login-box .login-form-container form .username-box input, body .container .container-box .login-container .login-box .login-form-container form .password-box input {
  background-color: #f3f3f3;
  border: 1px solid rgba(38, 35, 52, 0.1);
  border-radius: 0;
  margin: auto;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #0a111c;
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-box-shadow: 0px 0px 15px -8px rgba(38, 35, 52, 0.5);
  box-shadow: 0px 0px 15px -8px rgba(38, 35, 52, 0.5);
}
html .container .container-box .login-container .login-box .login-form-container form .username-box input:focus + span, html .container .container-box .login-container .login-box .login-form-container form .password-box input:focus + span, body .container .container-box .login-container .login-box .login-form-container form .username-box input:focus + span, body .container .container-box .login-container .login-box .login-form-container form .password-box input:focus + span {
  opacity: 1;
  width: 100%;
  height: 3px;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box input:focus, html .container .container-box .login-container .login-box .login-form-container form .password-box input:focus, body .container .container-box .login-container .login-box .login-form-container form .username-box input:focus, body .container .container-box .login-container .login-box .login-form-container form .password-box input:focus {
  background-color: #f8fafc;
  -o-box-shadow: 0px 0px 15px -8px #4563F7;
  box-shadow: 0px 0px 15px -8px #4563F7;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box input:invalid:focus, html .container .container-box .login-container .login-box .login-form-container form .password-box input:invalid:focus, body .container .container-box .login-container .login-box .login-form-container form .username-box input:invalid:focus, body .container .container-box .login-container .login-box .login-form-container form .password-box input:invalid:focus {
  -o-box-shadow: 0px 0px 15px -8px #e3342f;
  box-shadow: 0px 0px 15px -8px #e3342f;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box input:invalid, html .container .container-box .login-container .login-box .login-form-container form .password-box input:invalid, body .container .container-box .login-container .login-box .login-form-container form .username-box input:invalid, body .container .container-box .login-container .login-box .login-form-container form .password-box input:invalid {
  -o-box-shadow: 0px 0px 15px -8px #e3342f;
  box-shadow: 0px 0px 15px -8px #e3342f;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box input:-moz-submit-invalid, html .container .container-box .login-container .login-box .login-form-container form .password-box input:-moz-submit-invalid, body .container .container-box .login-container .login-box .login-form-container form .username-box input:-moz-submit-invalid, body .container .container-box .login-container .login-box .login-form-container form .password-box input:-moz-submit-invalid {
  -o-box-shadow: 0px 0px 15px -8px #e3342f;
  box-shadow: 0px 0px 15px -8px #e3342f;
}
html .container .container-box .login-container .login-box .login-form-container form .username-box span, html .container .container-box .login-container .login-box .login-form-container form .password-box span, body .container .container-box .login-container .login-box .login-form-container form .username-box span, body .container .container-box .login-container .login-box .login-form-container form .password-box span {
  background-color: #4563F7;
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: transparent;
  tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box:hover input ~ .checkmark, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box:hover input ~ .checkmark {
  background-color: #ccc;
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box input, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box input:checked ~ .checkmark, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box input:checked ~ .checkmark {
  background-color: #4563F7;
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box input:checked ~ .checkmark::after, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box input:checked ~ .checkmark::after {
  display: block;
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box .checkmark, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box .checkmark {
  position: absolute;
  top: 1px;
  left: 12px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #f3f3f3;
  border: 1px solid rgba(38, 35, 52, 0.15);
}
html .container .container-box .login-container .login-box .login-form-container form .rememberme-box .checkmark::after, body .container .container-box .login-container .login-box .login-form-container form .rememberme-box .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5.5px;
  top: 1.5px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
html .container .container-box .login-container .login-box .login-form-container form button, body .container .container-box .login-container .login-box .login-form-container form button {
  background-color: #4563F7;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  color: #ffffff;
  transition: all 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
html .container .container-box .login-container .login-box .login-form-container form button:hover, body .container .container-box .login-container .login-box .login-form-container form button:hover {
  background-color: #5745f7;
  color: #f8fafc;
}
html .container .container-box .login-container .login-box .login-form-container form a, body .container .container-box .login-container .login-box .login-form-container form a {
  text-decoration: none;
  color: #4563F7;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 15px;
  padding: 0 8px 0 8px;
  margin: 0;
  -webkit-text-transform: capitalize;
  -moz-text-transform: capitalize;
  -o-text-transform: capitalize;
  -ms-text-transform: capitalize;
  text-transform: capitalize;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: transparent;
  tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
html .container .container-box .login-container .login-box .login-form-container form a:hover, body .container .container-box .login-container .login-box .login-form-container form a:hover {
  letter-spacing: 1.5px;
  font-weight: 700;
}
html .container .container-box .login-container .login-box .login-form-container form .errors, body .container .container-box .login-container .login-box .login-form-container form .errors {
  color: #e3342f;
  padding: 0 8px 0 8px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1.2px;
}
html .container .container-box .login-container .login-box .login-media-container, body .container .container-box .login-container .login-box .login-media-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 300px;
  min-height: auto;
  flex-basis: 55%;
}
html .container .container-box .login-container .login-box .login-media-container img, body .container .container-box .login-container .login-box .login-media-container img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: auto;
}
@media only screen and (max-width: 1048px) {
  html .container .container-box .login-container .login-box .login-media-container, body .container .container-box .login-container .login-box .login-media-container {
    display: none;
  }
}
